{
  "openapi": "3.0.3",
  "info": {
    "title": "Vercel API",
    "description": "Vercel combines the best developer experience with an obsessive focus on end-user performance. Our platform enables frontend teams to do their best work.",
    "contact": {
      "email": "support@vercel.com",
      "name": "Vercel Support",
      "url": "https://vercel.com/support"
    },
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.vercel.com",
      "description": "Production API"
    }
  ],
  "paths": {
    "/v10/projects": {
      "get": {
        "description": "Allows to retrieve the list of projects of the authenticated user or team. The list will be paginated and the provided query parameters allow filtering the returned projects.",
        "operationId": "getProjects",
        "security": [
          {
            "bearerToken": []
          }
        ],
        "summary": "Retrieve a list of projects",
        "tags": [
          "projects"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          }
        },
        "x-vercel-cli": {
          "supportedSubcommands": true,
          "supportedProduction": false,
          "aliases": [
            "ls",
            "list"
          ]
        },
        "parameters": [
          {
            "name": "search",
            "description": "Search projects by the name field",
            "in": "query",
            "schema": {
              "description": "Search projects by the name field",
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "description": "The Team identifier to perform the request on behalf of.",
            "in": "query",
            "name": "teamId",
            "schema": {
              "type": "string",
              "example": "team_1a2b3c4d5e6f7g8h9i0j1k2l"
            }
          },
          {
            "description": "The Team slug to perform the request on behalf of.",
            "in": "query",
            "name": "slug",
            "schema": {
              "type": "string",
              "example": "my-team-url-slug"
            }
          }
        ]
      }
    },
    "/v9/projects/{idOrName}": {
      "get": {
        "description": "Get the information for a specific project by passing either the project `id` or `name` in the URL.",
        "operationId": "getProject",
        "security": [
          {
            "bearerToken": []
          }
        ],
        "summary": "Find a project by id or name",
        "tags": [
          "projects"
        ],
        "responses": {
          "200": {
            "description": "The project information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "One of the provided values in the request query is invalid."
          },
          "401": {
            "description": "The request is not authorized."
          },
          "403": {
            "description": "You do not have permission to access this resource."
          }
        },
        "x-vercel-cli": {
          "supportedSubcommands": true,
          "supportedProduction": false,
          "aliases": [
            "inspect",
            "get"
          ]
        },
        "parameters": [
          {
            "name": "idOrName",
            "description": "The unique project identifier or the project name",
            "in": "path",
            "required": true,
            "schema": {
              "description": "The unique project identifier or the project name",
              "oneOf": [
                {
                  "type": "string"
                },
                {
                  "type": "boolean"
                }
              ]
            },
            "x-vercel-cli": {
              "kind": "argument"
            }
          },
          {
            "description": "The Team identifier to perform the request on behalf of.",
            "in": "query",
            "name": "teamId",
            "schema": {
              "type": "string",
              "example": "team_1a2b3c4d5e6f7g8h9i0j1k2l"
            }
          },
          {
            "description": "The Team slug to perform the request on behalf of.",
            "in": "query",
            "name": "slug",
            "schema": {
              "type": "string",
              "example": "my-team-url-slug"
            }
          }
        ]
      },
      "patch": {
        "description": "Update the fields of a project using either its `name` or `id`.",
        "operationId": "updateProject",
        "security": [
          {
            "bearerToken": []
          }
        ],
        "summary": "Update an existing project",
        "tags": [
          "projects"
        ],
        "responses": {
          "200": {
            "description": "The project was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "accountId": {
                      "type": "string"
                    },
                    "analytics": {
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "canceledAt": {
                          "nullable": true,
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "enabledAt": {
                          "type": "number"
                        },
                        "paidAt": {
                          "type": "number"
                        },
                        "sampleRatePercent": {
                          "nullable": true,
                          "type": "number"
                        },
                        "spendLimitInDollars": {
                          "nullable": true,
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "appliedCve55182Migration": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "speedInsights": {
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "enabledAt": {
                          "type": "number"
                        },
                        "disabledAt": {
                          "type": "number"
                        },
                        "canceledAt": {
                          "type": "number"
                        },
                        "hasData": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "paidAt": {
                          "type": "number"
                        }
                      },
                      "type": "object"
                    },
                    "autoExposeSystemEnvs": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "autoAssignCustomDomains": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "autoAssignCustomDomainsUpdatedBy": {
                      "type": "string"
                    },
                    "buildCommand": {
                      "nullable": true,
                      "type": "string"
                    },
                    "commandForIgnoringBuildStep": {
                      "nullable": true,
                      "type": "string"
                    },
                    "connectConfigurations": {
                      "nullable": true,
                      "items": {
                        "properties": {
                          "envId": {
                            "oneOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "connectConfigurationId": {
                            "type": "string"
                          },
                          "dc": {
                            "type": "string"
                          },
                          "passive": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "buildsEnabled": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "aws": {
                            "properties": {
                              "subnetIds": {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              "securityGroupId": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "connectConfigurationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "connectBuildsEnabled": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "passiveConnectConfigurationId": {
                      "nullable": true,
                      "type": "string"
                    },
                    "createdAt": {
                      "type": "number"
                    },
                    "customerSupportCodeVisibility": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "crons": {
                      "properties": {
                        "enabledAt": {
                          "type": "number",
                          "description": "The time the feature was enabled for this project. Note: It enables automatically with the first Deployment that outputs cronjobs."
                        },
                        "disabledAt": {
                          "nullable": true,
                          "type": "number",
                          "description": "The time the feature was disabled for this project."
                        },
                        "updatedAt": {
                          "type": "number"
                        },
                        "deploymentId": {
                          "nullable": true,
                          "type": "string",
                          "description": "The ID of the Deployment from which the definitions originated."
                        },
                        "definitions": {
                          "items": {
                            "properties": {
                              "host": {
                                "type": "string",
                                "description": "The hostname that should be used.",
                                "example": "vercel.com"
                              },
                              "path": {
                                "type": "string",
                                "description": "The path that should be called for the cronjob.",
                                "example": "/api/crons/sync-something?hello=world"
                              },
                              "schedule": {
                                "type": "string",
                                "description": "The cron expression.",
                                "example": "0 0 * * *"
                              },
                              "source": {
                                "type": "string",
                                "description": "The origin of this definition. 'api' means created via the API. Undefined means it originated from a deployment (vercel.json)."
                              },
                              "description": {
                                "type": "string",
                                "description": "A human-readable description of what this cron job does."
                              },
                              "hostInferred": {
                                "type": "boolean",
                                "enum": [
                                  false,
                                  true
                                ],
                                "description": "Whether the host was inferred from the production deployment URL rather than explicitly provided."
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "dataCache": {
                      "properties": {
                        "userDisabled": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "storageSizeBytes": {
                          "nullable": true,
                          "type": "number"
                        },
                        "unlimited": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "deploymentExpiration": {
                      "properties": {
                        "expirationDays": {
                          "type": "number",
                          "description": "Number of days to keep non-production deployments (mostly preview deployments) before soft deletion."
                        },
                        "expirationDaysProduction": {
                          "type": "number",
                          "description": "Number of days to keep production deployments before soft deletion."
                        },
                        "expirationDaysCanceled": {
                          "type": "number",
                          "description": "Number of days to keep canceled deployments before soft deletion."
                        },
                        "expirationDaysErrored": {
                          "type": "number",
                          "description": "Number of days to keep errored deployments before soft deletion."
                        },
                        "deploymentsToKeep": {
                          "type": "number",
                          "description": "Minimum number of production deployments to keep for this project, even if they are over the production expiration limit."
                        }
                      },
                      "type": "object",
                      "description": "Retention policies for deployments. These are enforced at the project level, but we also maintain an instance of this at the team level as a default policy that gets applied to new projects."
                    },
                    "expiration": {
                      "oneOf": [
                        {
                          "properties": {
                            "expiresAt": {
                              "type": "number",
                              "description": "Unix ms timestamp when the project is scheduled to expire."
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "lockedAt": {
                              "type": "number",
                              "description": "Unix ms timestamp when the project was locked."
                            },
                            "lockedBy": {
                              "type": "string",
                              "description": "userId of the actor that triggered the lock (system or admin)."
                            }
                          },
                          "type": "object"
                        }
                      ]
                    },
                    "devCommand": {
                      "nullable": true,
                      "type": "string"
                    },
                    "directoryListing": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "installCommand": {
                      "nullable": true,
                      "type": "string"
                    },
                    "env": {
                      "items": {
                        "properties": {
                          "target": {
                            "oneOf": [
                              {
                                "items": {
                                  "type": "string"
                                },
                                "type": "array"
                              },
                              {
                                "type": "string"
                              }
                            ]
                          },
                          "type": {
                            "type": "string"
                          },
                          "sunsetSecretId": {
                            "type": "string",
                            "description": "This is used to identify variables that have been migrated from type secret to sensitive."
                          },
                          "legacyValue": {
                            "type": "string",
                            "description": "Legacy now-encryption ciphertext, present after migration swaps value/vsmValue"
                          },
                          "decrypted": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "value": {
                            "type": "string"
                          },
                          "vsmValue": {
                            "type": "string"
                          },
                          "id": {
                            "type": "string"
                          },
                          "key": {
                            "type": "string"
                          },
                          "configurationId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "updatedAt": {
                            "type": "number"
                          },
                          "createdBy": {
                            "nullable": true,
                            "type": "string"
                          },
                          "updatedBy": {
                            "nullable": true,
                            "type": "string"
                          },
                          "gitBranch": {
                            "type": "string"
                          },
                          "edgeConfigId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "edgeConfigTokenId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "contentHint": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "storeId": {
                                    "type": "string"
                                  },
                                  "integrationId": {
                                    "type": "string"
                                  },
                                  "integrationProductId": {
                                    "type": "string"
                                  },
                                  "integrationConfigurationId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "type": {
                                    "type": "string"
                                  },
                                  "projectId": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              }
                            ]
                          },
                          "internalContentHint": {
                            "nullable": true,
                            "properties": {
                              "type": {
                                "type": "string"
                              },
                              "encryptedValue": {
                                "type": "string",
                                "description": "Contains the `value` of the env variable, encrypted with a special key to make decryption possible in the subscriber Lambda."
                              }
                            },
                            "type": "object",
                            "description": "Similar to `contentHints`, but should not be exposed to the user."
                          },
                          "comment": {
                            "type": "string"
                          },
                          "customEnvironmentIds": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "customEnvironments": {
                      "items": {
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique identifier for the custom environment (format: env_*)"
                          },
                          "slug": {
                            "type": "string",
                            "description": "URL-friendly name of the environment"
                          },
                          "type": {
                            "type": "string",
                            "description": "The type of environment (production, preview, or development)"
                          },
                          "description": {
                            "type": "string",
                            "description": "Optional description of the environment's purpose"
                          },
                          "branchMatcher": {
                            "properties": {
                              "type": {
                                "type": "string",
                                "description": "The type of matching to perform"
                              },
                              "pattern": {
                                "type": "string",
                                "description": "The pattern to match against branch names"
                              }
                            },
                            "type": "object",
                            "description": "Configuration for matching git branches to this environment"
                          },
                          "domains": {
                            "items": {
                              "properties": {
                                "name": {
                                  "type": "string"
                                },
                                "apexName": {
                                  "type": "string"
                                },
                                "projectId": {
                                  "type": "string"
                                },
                                "redirect": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "redirectStatusCode": {
                                  "nullable": true,
                                  "type": "number",
                                  "enum": [
                                    301,
                                    302,
                                    307,
                                    308,
                                    null
                                  ]
                                },
                                "gitBranch": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "customEnvironmentId": {
                                  "nullable": true,
                                  "type": "string"
                                },
                                "updatedAt": {
                                  "type": "number"
                                },
                                "createdAt": {
                                  "type": "number"
                                },
                                "verified": {
                                  "type": "boolean",
                                  "enum": [
                                    false,
                                    true
                                  ],
                                  "description": "`true` if the domain is verified for use with the project. If `false` it will not be used as an alias on this project until the challenge in `verification` is completed."
                                },
                                "verification": {
                                  "items": {
                                    "properties": {
                                      "type": {
                                        "type": "string"
                                      },
                                      "domain": {
                                        "type": "string"
                                      },
                                      "value": {
                                        "type": "string"
                                      },
                                      "reason": {
                                        "type": "string"
                                      }
                                    },
                                    "type": "object",
                                    "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                                  },
                                  "type": "array",
                                  "description": "A list of verification challenges, one of which must be completed to verify the domain for use on the project. After the challenge is complete `POST /projects/:idOrName/domains/:domain/verify` to verify the domain. Possible challenges: - If `verification.type = TXT` the `verification.domain` will be checked for a TXT record matching `verification.value`."
                                }
                              },
                              "type": "object",
                              "description": "List of domains associated with this environment"
                            },
                            "type": "array",
                            "description": "List of domains associated with this environment"
                          },
                          "currentDeploymentAliases": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array",
                            "description": "List of aliases for the current deployment"
                          },
                          "createdAt": {
                            "type": "number",
                            "description": "Timestamp when the environment was created"
                          },
                          "updatedAt": {
                            "type": "number",
                            "description": "Timestamp when the environment was last updated"
                          }
                        },
                        "type": "object",
                        "description": "Internal representation of a custom environment with all required properties"
                      },
                      "type": "array"
                    },
                    "framework": {
                      "nullable": true,
                      "type": "string"
                    },
                    "services": {
                      "items": {
                        "properties": {
                          "serviceName": {
                            "type": "string",
                            "description": "Service name from the deployment (Service.name)."
                          },
                          "serviceType": {
                            "type": "string",
                            "description": "Service kind (Service.type). Omitted for schemas that do not define one."
                          },
                          "framework": {
                            "type": "string",
                            "description": "Framework slug, when the service has one (omitted otherwise)."
                          },
                          "runtime": {
                            "type": "string",
                            "description": "Generic runtime, e.g. 'node' | 'python' | 'go' | 'ruby' | 'rust' (Service.runtime). Omitted for static builds."
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "gitForkProtection": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "gitLFS": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "id": {
                      "type": "string"
                    },
                    "ipBuckets": {
                      "items": {
                        "properties": {
                          "bucket": {
                            "type": "string"
                          },
                          "default": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "supportUntil": {
                            "type": "number"
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "jobs": {
                      "properties": {
                        "lint": {
                          "properties": {
                            "targets": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "typecheck": {
                          "properties": {
                            "targets": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        },
                        "mfe-config-present": {
                          "properties": {
                            "targets": {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "latestDeployments": {
                      "items": {
                        "properties": {
                          "alias": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "aliasAssigned": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean",
                                "enum": [
                                  false,
                                  true
                                ]
                              }
                            ]
                          },
                          "builds": {
                            "items": {
                              "properties": {
                                "use": {
                                  "type": "string"
                                },
                                "src": {
                                  "type": "string"
                                },
                                "dest": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "createdIn": {
                            "type": "string"
                          },
                          "creator": {
                            "nullable": true,
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "githubLogin": {
                                "type": "string"
                              },
                              "gitlabLogin": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "deploymentHostname": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "forced": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "meta": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "private": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "readyState": {
                            "type": "string"
                          },
                          "requestedAt": {
                            "type": "number"
                          },
                          "target": {
                            "nullable": true,
                            "type": "string"
                          },
                          "teamId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "withCache": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          }
                        },
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "link": {
                      "oneOf": [
                        {
                          "properties": {
                            "org": {
                              "type": "string"
                            },
                            "repoOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
                            },
                            "repo": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "number"
                            },
                            "type": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "items": {
                                "properties": {
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ref": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "type": {
                              "type": "string"
                            },
                            "repo": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "number"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "org": {
                              "type": "string"
                            },
                            "repoOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
                            },
                            "deployHooks": {
                              "items": {
                                "properties": {
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ref": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "org": {
                              "type": "string"
                            },
                            "repoOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes."
                            },
                            "repo": {
                              "type": "string"
                            },
                            "repoId": {
                              "type": "number"
                            },
                            "type": {
                              "type": "string"
                            },
                            "host": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "items": {
                                "properties": {
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ref": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "projectId": {
                              "type": "string"
                            },
                            "projectName": {
                              "type": "string"
                            },
                            "projectNameWithNamespace": {
                              "type": "string"
                            },
                            "projectNamespace": {
                              "type": "string"
                            },
                            "projectOwnerId": {
                              "type": "number",
                              "description": "A new field, should be included in all new project links, is being added just in time when a deployment is created. This is needed for Protected Git scopes. This is the id of the top level group that a namespace belongs to. Gitlab supports group nesting (up to 20 levels)."
                            },
                            "projectUrl": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "items": {
                                "properties": {
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ref": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "name": {
                              "type": "string"
                            },
                            "slug": {
                              "type": "string"
                            },
                            "owner": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "uuid": {
                              "type": "string"
                            },
                            "workspaceUuid": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "items": {
                                "properties": {
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ref": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "org": {
                              "type": "string"
                            },
                            "repo": {
                              "type": "string"
                            },
                            "type": {
                              "type": "string"
                            },
                            "createdAt": {
                              "type": "number"
                            },
                            "deployHooks": {
                              "items": {
                                "properties": {
                                  "createdAt": {
                                    "type": "number"
                                  },
                                  "id": {
                                    "type": "string"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "ref": {
                                    "type": "string"
                                  },
                                  "url": {
                                    "type": "string"
                                  }
                                },
                                "type": "object"
                              },
                              "type": "array"
                            },
                            "gitCredentialId": {
                              "type": "string"
                            },
                            "updatedAt": {
                              "type": "number"
                            },
                            "sourceless": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            },
                            "productionBranch": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      ]
                    },
                    "microfrontends": {
                      "oneOf": [
                        {
                          "properties": {
                            "isDefaultApp": {
                              "type": "boolean",
                              "enum": [
                                true
                              ]
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "Timestamp when the microfrontends settings were last updated."
                            },
                            "groupIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 1,
                              "description": "The group IDs of microfrontends that this project belongs to. Each microfrontend project must belong to a microfrontends group that is the set of microfrontends that are used together."
                            },
                            "enabled": {
                              "type": "boolean",
                              "enum": [
                                true
                              ],
                              "description": "Whether microfrontends are enabled for this project."
                            },
                            "defaultRoute": {
                              "type": "string",
                              "description": "A path that is used to take screenshots and as the default path in preview links when a domain for this microfrontend is shown in the UI. Includes the leading slash, e.g. `/docs`"
                            },
                            "freeProjectForLegacyLimits": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ],
                              "description": "Whether the project was part of the legacy limits for hobby and pro-trial before billing was added. This field is only set when the team is upgraded to a paid plan and we are backfilling the subscription status. We cap the subscription to 2 projects and set this field for the 3rd project. When this field is set, the project is not charged for and we do not call any billing APIs for this project."
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "isDefaultApp": {
                              "type": "boolean",
                              "enum": [
                                false
                              ]
                            },
                            "routeObservabilityToThisProject": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ],
                              "description": "Whether observability data should be routed to this microfrontend project or a root project."
                            },
                            "doNotRouteWithMicrofrontendsRouting": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ],
                              "description": "Whether to add microfrontends routing to aliases. This means domains in this project will route as a microfrontend."
                            },
                            "updatedAt": {
                              "type": "number",
                              "description": "Timestamp when the microfrontends settings were last updated."
                            },
                            "groupIds": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              },
                              "minItems": 1,
                              "description": "The group IDs of microfrontends that this project belongs to. Each microfrontend project must belong to a microfrontends group that is the set of microfrontends that are used together."
                            },
                            "enabled": {
                              "type": "boolean",
                              "enum": [
                                true
                              ],
                              "description": "Whether microfrontends are enabled for this project."
                            },
                            "defaultRoute": {
                              "type": "string",
                              "description": "A path that is used to take screenshots and as the default path in preview links when a domain for this microfrontend is shown in the UI. Includes the leading slash, e.g. `/docs`"
                            },
                            "freeProjectForLegacyLimits": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ],
                              "description": "Whether the project was part of the legacy limits for hobby and pro-trial before billing was added. This field is only set when the team is upgraded to a paid plan and we are backfilling the subscription status. We cap the subscription to 2 projects and set this field for the 3rd project. When this field is set, the project is not charged for and we do not call any billing APIs for this project."
                            }
                          },
                          "type": "object"
                        },
                        {
                          "properties": {
                            "updatedAt": {
                              "type": "number"
                            },
                            "groupIds": {
                              "type": "array",
                              "items": {},
                              "minItems": 0,
                              "maxItems": 0
                            },
                            "enabled": {
                              "type": "boolean",
                              "enum": [
                                false
                              ]
                            },
                            "freeProjectForLegacyLimits": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            }
                          },
                          "type": "object"
                        }
                      ]
                    },
                    "name": {
                      "type": "string"
                    },
                    "nodeVersion": {
                      "type": "string"
                    },
                    "optionsAllowlist": {
                      "nullable": true,
                      "properties": {
                        "paths": {
                          "items": {
                            "properties": {
                              "value": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "outputDirectory": {
                      "nullable": true,
                      "type": "string"
                    },
                    "passwordProtection": {
                      "nullable": true,
                      "type": "object"
                    },
                    "passport": {
                      "nullable": true,
                      "properties": {
                        "deploymentType": {
                          "type": "string"
                        },
                        "connectorId": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "protectionConfig": {
                      "properties": {
                        "sandboxUrls": {
                          "properties": {
                            "inheritDeploymentProtection": {
                              "type": "boolean",
                              "enum": [
                                false,
                                true
                              ]
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    "productionDeploymentsFastLane": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "publicSource": {
                      "nullable": true,
                      "type": "boolean",
                      "enum": [
                        false,
                        true,
                        null
                      ]
                    },
                    "resourceConfig": {
                      "properties": {
                        "elasticConcurrencyEnabled": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "fluid": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "functionDefaultRegions": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "functionDefaultTimeout": {
                          "type": "number"
                        },
                        "functionDefaultMemoryType": {
                          "type": "string"
                        },
                        "functionZeroConfigFailover": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "buildMachineType": {
                          "type": "string"
                        },
                        "buildMachineSelection": {
                          "type": "string"
                        },
                        "buildMachineElasticLastUpdated": {
                          "type": "number"
                        },
                        "isNSNBDisabled": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "buildQueue": {
                          "properties": {
                            "configuration": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "enableFunctionsBeta": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "rollbackDescription": {
                      "properties": {
                        "userId": {
                          "type": "string",
                          "description": "The user who rolled back the project."
                        },
                        "username": {
                          "type": "string",
                          "description": "The username of the user who rolled back the project."
                        },
                        "description": {
                          "type": "string",
                          "description": "User-supplied explanation of why they rolled back the project. Limited to 250 characters."
                        },
                        "createdAt": {
                          "type": "number",
                          "description": "Timestamp of when the rollback was requested."
                        }
                      },
                      "type": "object",
                      "description": "Description of why a project was rolled back, and by whom. Note that lastAliasRequest contains the from/to details of the rollback."
                    },
                    "rollingRelease": {
                      "nullable": true,
                      "properties": {
                        "target": {
                          "type": "string",
                          "description": "The environment that the release targets, currently only supports production. Adding in case we want to configure with alias groups or custom environments.",
                          "example": "production"
                        },
                        "stages": {
                          "nullable": true,
                          "items": {
                            "properties": {
                              "targetPercentage": {
                                "type": "number",
                                "description": "The percentage of traffic to serve to the canary deployment (0-100)",
                                "example": 25
                              },
                              "requireApproval": {
                                "type": "boolean",
                                "enum": [
                                  false,
                                  true
                                ],
                                "description": "Whether or not this stage requires manual approval to proceed",
                                "example": false
                              },
                              "duration": {
                                "type": "number",
                                "description": "Duration in minutes for automatic advancement to the next stage",
                                "example": 600
                              },
                              "linearShift": {
                                "type": "boolean",
                                "enum": [
                                  false,
                                  true
                                ],
                                "description": "Whether to linearly shift traffic over the duration of this stage",
                                "example": false
                              }
                            },
                            "type": "object",
                            "description": "An array of all the stages required during a deployment release. Each stage defines a target percentage and advancement rules. The final stage must always have targetPercentage: 100."
                          },
                          "type": "array",
                          "description": "An array of all the stages required during a deployment release. Each stage defines a target percentage and advancement rules. The final stage must always have targetPercentage: 100."
                        },
                        "canaryResponseHeader": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ],
                          "description": "Whether the request served by a canary deployment should return a header indicating a canary was served. Defaults to `false` when omitted.",
                          "example": false
                        }
                      },
                      "type": "object",
                      "description": "Project-level rolling release configuration that defines how deployments should be gradually rolled out"
                    },
                    "defaultResourceConfig": {
                      "properties": {
                        "elasticConcurrencyEnabled": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "fluid": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "functionDefaultRegions": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "functionDefaultTimeout": {
                          "type": "number"
                        },
                        "functionDefaultMemoryType": {
                          "type": "string"
                        },
                        "functionZeroConfigFailover": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "buildMachineType": {
                          "type": "string"
                        },
                        "buildMachineSelection": {
                          "type": "string"
                        },
                        "buildMachineElasticLastUpdated": {
                          "type": "number"
                        },
                        "isNSNBDisabled": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "buildQueue": {
                          "properties": {
                            "configuration": {
                              "type": "string"
                            }
                          },
                          "type": "object"
                        },
                        "enableFunctionsBeta": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        }
                      },
                      "type": "object"
                    },
                    "rootDirectory": {
                      "nullable": true,
                      "type": "string"
                    },
                    "serverlessFunctionZeroConfigFailover": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "skewProtectionBoundaryAt": {
                      "type": "number"
                    },
                    "skewProtectionMaxAge": {
                      "type": "number"
                    },
                    "skewProtectionAllowedDomains": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "skipGitConnectDuringLink": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "staticIps": {
                      "properties": {
                        "builds": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "enabled": {
                          "type": "boolean",
                          "enum": [
                            false,
                            true
                          ]
                        },
                        "regions": {
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    "sourceFilesOutsideRootDirectory": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "enableAffectedProjectsDeployments": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "enableExternalRewriteCaching": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "ssoProtection": {
                      "nullable": true,
                      "properties": {
                        "deploymentType": {
                          "type": "string"
                        },
                        "cve55182MigrationAppliedFrom": {
                          "nullable": true,
                          "type": "string"
                        },
                        "april2026SecurityIncidentMigrationAppliedFrom": {
                          "nullable": true,
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "targets": {
                      "additionalProperties": {
                        "nullable": true,
                        "properties": {
                          "alias": {
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "aliasAssigned": {
                            "nullable": true,
                            "oneOf": [
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean",
                                "enum": [
                                  false,
                                  true
                                ]
                              }
                            ]
                          },
                          "builds": {
                            "items": {
                              "properties": {
                                "use": {
                                  "type": "string"
                                },
                                "src": {
                                  "type": "string"
                                },
                                "dest": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "createdAt": {
                            "type": "number"
                          },
                          "createdIn": {
                            "type": "string"
                          },
                          "creator": {
                            "nullable": true,
                            "properties": {
                              "email": {
                                "type": "string"
                              },
                              "githubLogin": {
                                "type": "string"
                              },
                              "gitlabLogin": {
                                "type": "string"
                              },
                              "uid": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              }
                            },
                            "type": "object"
                          },
                          "deploymentHostname": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "forced": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "id": {
                            "type": "string"
                          },
                          "meta": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "plan": {
                            "type": "string"
                          },
                          "private": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          },
                          "readyState": {
                            "type": "string"
                          },
                          "requestedAt": {
                            "type": "number"
                          },
                          "target": {
                            "nullable": true,
                            "type": "string"
                          },
                          "teamId": {
                            "nullable": true,
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          },
                          "url": {
                            "type": "string"
                          },
                          "userId": {
                            "type": "string"
                          },
                          "withCache": {
                            "type": "boolean",
                            "enum": [
                              false,
                              true
                            ]
                          }
                        },
                        "type": "object"
                      },
                      "type": "object"
                    },
                    "transferCompletedAt": {
                      "type": "number"
                    },
                    "transferStartedAt": {
                      "type": "number"
                    },
                    "transferToAccountId": {
                      "type": "string"
                    },
                    "transferredFromAccountId": {
                      "type": "string"
                    },
                    "updatedAt": {
                      "type": "number"
                    },
                    "live": {
                      "type": "boolean",
                      "enum": [
                        false,
                        true
                      ]
                    },
                    "enablePreviewFeedback": {
                      "nullable": true,
                      "type": "boolean",
                      "enum": [
                        false,
                        true,
                        null
                      ]
                    },
                    "enableProductionFeedback": {
                      "nullable": true,
                      "type": "boolean",
                      "enum": [
                        false,
                        true,
                        null
                      ]
                    },
                    "permissions": {
                      "properties": {
                        "oauth2Connection": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "user": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "userConnection": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "userMfaConfiguration": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "userPreference": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "userSudo": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "webAuthn": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "accessGroup": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "agent": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "aiGatewayUsage": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "alerts": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "alertRules": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "aliasGlobal": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "analyticsSampling": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "analyticsUsage": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "apiKey": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "apiKeyAiGateway": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "apiKeyOwnedBySelf": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
                          "type": "array"
                        },
                        "oauth2Application": {
                          "items": {
                            "$ref": "#/components/schemas/ACLAction"
                          },
[...]
